.shelfie-header {
    margin-top: 0;
    padding: 10px;
    display: flex;
    align-items: center;

    width: calc(100vw - 35px);
    height: 80px;
    background: #AB2A19;
  }

  .shelfie-header img {
    width: 50px;
    margin-left: 100px;
  }
  .shelfie-header h1{
    margin: 0 0 0 40px;
    color: white;
  }
 
  .nav-btn-box {
    margin-left: 80px;
  }
  .shelfie-header button {
  
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    background:#ED6B5A;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    height: 40px;
    text-align: center;
    
  }
  